* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	color-scheme: dark;
}

h1,
h2 {
	color: #ff69b4; /* Hot pink */
	text-align: center;
}
